* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardProduct {
  min-height: 100%;
}

.registerMessage {
  font-style: italic;
}

.adminBtn {
  width: 91px !important;
}

.productLabel {
  font-style: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background:#eee; 
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  height:auto;
  overflow:auto;  
  margin-top:20px;
}
